html {
  font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

nav {
  order: -1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 5px 1rem;
  font-size: 0.9rem;
  color: rgb(115, 115, 115);
}

.flex-overflow {
  overflow: auto;
  width: 97%;
}

nav a {
  display: block;
  padding: 0.375rem 0.75rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  white-space: nowrap;
  background-color: rgb(245, 245, 245);
  color: rgb(82, 82, 82);
  border-radius: 0.25rem;
  text-decoration: none;
}

nav a:hover {
  background-color: rgb(229, 229, 229);
  cursor: pointer;
}

nav a#active {
  background-color: rgb(23, 23, 23);
  color: white;
}

nav > span {
  font-weight: 500;
  margin-right: 10px;
}

body::before {
  content: "";
  height: 31px;
  background-color: rgb(245, 245, 245);
  width: 100%;
  border-bottom: 1px solid rgb(229, 229, 229);
}

#empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(23, 23, 23);
}

#empty > div {
  text-align: center;
  font-size: 4rem;
}

div[class^="box"],
div[class^="square"] {
  border-radius: 0.25rem;
}

.box-xxs {
  height: 0.5rem;
}

.box-xs {
  height: 1.25rem;
}

.box-s {
  height: 1.5rem;
}

.box-sm {
  height: 2.5rem;
}

.box-md {
  height: 10rem;
}

.box-lg {
  height: 12rem;
}

.square-xs {
  height: 1.25rem;
  width: 1.25rem;
}

.square-s {
  height: 1.5rem;
  width: 1.5rem;
}

.square-sm {
  height: 2.5rem;
  width: 2.5rem;
}

div[class^="box"].round,
div[class^="square"].round {
  border-radius: 9999px;
}

.darkerer-grey {
  background-color: rgb(163, 163, 163);
}

.darker-grey {
  background-color: rgb(212, 212, 212);
}

.dark-grey {
  background-color: rgb(229, 229, 229);
}

.grey {
  background-color: rgb(245, 245, 245);
}

.black {
  background-color: rgb(23, 23, 23);
}

.white {
  background-color: white;
}

.lighter-black {
  background-color: rgb(64, 64, 64);
}

.light-black {
  background-color: rgb(38, 38, 38);
}
