html {
  font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  width: 99vw;
  height: 96vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

nav {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0px;
  font-size: 0.9rem;
  color: rgb(115, 115, 115);
}

.flex-overflow {
  overflow: auto;
  width: 99vw;
}

nav a {
  display: block;
  padding: 5px 8px;
  font-size: 0.8rem;
  white-space: nowrap;
  background-color: rgb(245, 245, 245);
  color: rgb(82, 82, 82);
  border-radius: 0.25rem;
  text-decoration: none;
}

nav a:last-of-type {
  margin-right: 10px;
}

nav a:hover {
  background-color: rgb(229, 229, 229);
  cursor: pointer;
}

nav a#active {
  background-color: rgb(23, 23, 23);
  color: white;
}

nav > span {
  font-weight: 600;
  margin-right: 10px;
}

#empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(23, 23, 23);
}

#empty > div {
  text-align: center;
  font-size: 4rem;
}

div[class^="box"],
div[class^="square"] {
  border-radius: 0.25rem;
}

.box-xxs {
  height: 0.5rem;
}

.box-xs {
  height: 1.25rem;
}

.box-sm {
  height: 2.5rem;
}

.box-md {
  height: 10rem;
}

.box-lg {
  height: 12rem;
}

.square-xs {
  height: 1.25rem;
  width: 1.25rem;
}

.square-sm {
  height: 2.5rem;
  width: 2.5rem;
}

div[class^="box"].round,
div[class^="square"].round {
  border-radius: 9999px;
}

.darker-grey {
  background-color: rgb(212, 212, 212);
}

.dark-grey {
  background-color: rgb(229, 229, 229);
}

.grey {
  background-color: rgb(245, 245, 245);
}

.black {
  background-color: rgb(23, 23, 23);
}

.white {
  background-color: white;
}
