html {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    width: 100vw;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0px;
    font-size: 0.9rem;
    color: rgb(115, 115, 115);
}

.flex-overflow {
    overflow: auto;
    width: 100vw;
}

nav a {
    display: block;
    padding: 5px 8px;
    font-size: 0.8rem;
    white-space: nowrap;
    background-color: rgb(245, 245, 245);
    color: rgb(82, 82, 82);
    border-radius: 0.25rem;
    text-decoration: none;
}

nav a:last-of-type {
    margin-right: 10px;
}

nav a:hover {
    background-color: rgb(229, 229, 229);
    cursor: pointer;
}

nav a#active {
    background-color: rgb(23, 23, 23);
    color: white;
}

nav>span {
    font-weight: 600;
    margin-right: 10px;
}

#empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(23, 23, 23);
}

#empty>div {
    text-align: center;
    font-size: 4rem;
}