main {
  display: flex;
}

section {
  padding: 1rem;
}

section:nth-of-type(1) {
  flex: 0 1 223px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  border-right: 1px solid #e5e7eb;
}

section:nth-of-type(1) div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.separator {
  height: 3.5rem;
  border-bottom: 1px solid #e5e7eb;
}

section:nth-of-type(2) {
  padding: 0;
  flex: 1 1 30px;
}

.bottom-sep {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.bottom-sep > div:nth-child(2) {
  height: 14rem;
}

section:nth-of-type(3) {
  flex: 0 1 288px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 1px solid #e5e7eb;
}

section:nth-of-type(3) > div {
  border-radius: 0.75rem;
}

section:nth-of-type(3) > div:nth-child(3) {
  height: 16rem;
}

.box-sm.black {
  height: 3rem;
}

.bordered {
  border: 1px solid rgb(229, 229, 229);
}
