main {
  display: flex;
  flex-direction: column;
}

header {
  height: 3.5rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(229, 229, 229);
}

header > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

header > div > .square-sm {
  width: 2rem;
  height: 2rem;
}

header > div:nth-child(1) > div:nth-child(2) {
  width: 16rem;
}

.main {
  background-color: rgb(245, 245, 245);
  flex-grow: 1;
}

.main > div {
  max-width: 56rem;
  gap: 1rem;
  display: flex;
  padding: 1rem 0;
  margin: 0 auto;
}

.left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 256px;
  border-radius: 0.75rem;
}

.image {
  border-radius: 9999px;
  border: 4px solid white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 88px;
  height: 88px;
  left: 1rem;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 18rem;
}

.profile > div:not(.image) {
  height: 50%;
  padding: 1rem;
}

.profile > div:nth-child(1) {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.profile > div:nth-child(2) {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.profile > div:nth-child(2) > div:nth-child(1) {
  margin-left: 7rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  width: 12rem;
  height: 1.5rem;
}

.profile > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  width: 16rem;
  height: 1rem;
}

.profile > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.profile > div:nth-child(2) > div:nth-child(2) div {
  width: 7rem;
  height: 2rem;
}

.bordered {
  border: 1px solid rgb(212, 212, 212);
}

.bordered-x {
  border: 1px solid rgb(229, 229, 229);
}

.mid {
  height: 4.5rem;
  border-radius: 0.75rem;
  padding: 1rem;
}

.mid > div:nth-child(1) {
  width: 5rem;
  height: 1.25rem;
  margin-bottom: 0.75rem;
}

.mid > div:nth-child(2) {
  width: 100%;
  height: 1rem;
}

.mid > div:nth-child(3) {
  width: 75%;
  height: 1rem;
  margin-top: 0.5rem;
}

.low {
  height: 5rem;
  border-radius: 0.75rem;
  padding: 1rem;
}

.low > div:nth-child(1) {
  height: 1.25rem;
  width: 6rem;
  margin-bottom: 0.75rem;
}

.low > div:nth-child(2) {
  display: flex;
  gap: 1rem;
}

.low > div:nth-child(2) > div:nth-child(1) {
  width: 3rem;
  height: 3rem;
}

.low > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.low > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  width: 12rem;
  height: 1rem;
}

.low > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  width: 8rem;
  height: 0.75rem;
}

.more {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  border-radius: 0.75rem;
}

.more > div:nth-child(1) {
  width: 8rem;
  height: 1.25rem;
}

.more ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.more li {
  padding: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
}

.more li > div:nth-child(1) {
  width: 32px;
  height: 32px;
}

.more li > div:nth-child(2) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.more li > div:nth-child(2) > div:nth-child(1) {
  width: 100%;
  height: 0.75rem;
}

.more li > div:nth-child(2) > div:nth-child(2) {
  width: 66.67%;
  height: 0.75rem;
}

.less {
  padding: 1rem;
  border-radius: 0.75rem;
}

.less > div {
  width: 6rem;
  height: 1.25rem;
}
