header {
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header > div:nth-child(1) {
  gap: 1.5rem;
  align-items: center;
  display: flex;
}

header > div:nth-child(1) > div:nth-child(1) {
  width: 6rem;
  height: 2rem;
}

.bordered {
  border: 1px solid rgb(212, 212, 212);
}

header > div:nth-child(1) > div:nth-child(2) {
  height: 3rem;
  flex-grow: 1;
  max-width: 42rem;
}

.growable {
  flex-grow: 1;
}

header > div:nth-child(1) > div:nth-last-child(2) {
  width: 2rem;
  height: 2rem;
  background-color: rgb(229, 229, 229);
}

header > div:nth-child(1) > div:nth-last-child(1) {
  width: 2rem;
  height: 2rem;
  background-color: rgb(229, 229, 229);
}

header > div:nth-child(2) {
  display: flex;
  margin-left: 8rem;
  gap: 1.5rem;
}

header > div:nth-child(2) > div {
  height: 1.25rem;
}

header > div:nth-child(2) > div:nth-child(1) {
  width: 3rem;
}
header > div:nth-child(2) > div:nth-child(2) {
  width: 4rem;
}
header > div:nth-child(2) > div:nth-child(3) {
  width: 3.5rem;
}
header > div:nth-child(2) > div:nth-child(4) {
  width: 3rem;
}
header > div:nth-child(2) > div:nth-child(5) {
  width: 2.5rem;
}

.results {
  padding: 1rem 1.5rem;
}

.results > div,
.results > ul {
  margin-left: 8rem;
}

.head {
  width: 12rem;
  height: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

li {
  list-style: none;
  max-width: 42rem;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}

li > div:nth-child(1) {
  width: 16rem;
  height: 0.75rem;
}

li > div:nth-child(2) {
  width: 24rem;
  height: 1.25rem;
  margin-bottom: 0.25rem;
}

li > div:nth-child(3) {
  width: 100%;
  height: 1rem;
}

li > div:nth-child(4) {
  width: 75%;
  height: 1rem;
}
