nav {
  flex-shrink: 0;
}

main {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;
  display: flex;
  padding: 0 1.5rem;
  height: 3.5rem;
  align-items: center;
  border-bottom: 1px solid rgb(229, 229, 229);
  justify-content: space-between;
}

header > div:nth-child(1) {
  width: 6rem;
  height: 1.5rem;
}

header > div:nth-child(2) {
  flex-grow: 1;
  max-width: 36rem;
  margin: 0 auto;
  height: 2.5rem;
}

header > div:nth-child(3) {
  display: flex;
  gap: 1rem;
}

header > div:nth-child(3) > div {
  width: 2rem;
  height: 2rem;
}

.content {
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  gap: 1.5rem;
  background-color: rgb(245, 245, 245);
}

.left {
  flex: 1 1 0;
}

.video {
  aspect-ratio: 16 / 9;
  border-radius: 0.75rem;
}

.right {
  width: 24rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 0;
}

.title {
  width: 75%;
  height: 1.5rem;
  border-radius: 0.25rem;
}

.profile {
  display: flex;
  gap: 1rem;
}

.image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
}

.name {
  width: 8rem;
  height: 1rem;
}

.subscribe {
  width: 7rem;
  height: 2.25rem;
  border-radius: 9999px;
  margin-left: 1rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.actions > div:nth-child(1) {
  width: 6rem;
  height: 2.25rem;
}

.actions > div:nth-child(2) {
  width: 5rem;
  height: 2.25rem;
}

.actions > div:nth-child(3) {
  width: 2.25rem;
  height: 2.25rem;
}

.comments {
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.comments > div:nth-child(1) {
  width: 12rem;
  height: 1rem;
}

.comments > div:nth-child(2) {
  width: 100%;
  height: 1rem;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.sm-vid {
  display: flex;
  gap: 0.5rem;
}

.sm-vid .video {
  width: 10rem;
  height: 6rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
}

.sm-vid > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.25rem;
}

.sm-vid > div:nth-child(2) > div:nth-child(1) {
  width: 100%;
  height: 1rem;
}

.sm-vid > div:nth-child(2) > div:nth-child(2) {
  width: 75%;
  height: 1rem;
}
