main {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  gap: 1rem;
  height: 3.5rem;
  padding: 0 1.5rem;
  align-items: center;
}

header > div:nth-child(1) {
  width: 6rem;
  height: 2rem;
}

header > div:nth-child(2) {
  flex-grow: 1;
  max-width: 42rem;
  height: 2.5rem;
}

header > div:nth-child(3),
header > div:nth-child(4) {
  width: 2rem;
  height: 2rem;
}

.bottom {
  flex-grow: 1;
  display: flex;
}

.left {
  width: 50%;
  border-right: 1px solid rgb(229, 229, 229);
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

.images {
  width: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.image {
  flex-grow: 1;
  border-radius: 0.5rem;
}

.images > div {
  height: 5rem;
  width: 5rem;
}

.right {
  width: 50%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right > div:nth-child(1) {
  width: 6rem;
  height: 1rem;
}

.right > div:nth-child(2) {
  width: 100%;
  height: 2rem;
}

.right > div:nth-child(3) {
  width: 12rem;
  height: 1.5rem;
}

.sep {
  width: 100%;
  height: 1px;
  background-color: rgb(229, 229, 229);
}

.right > div:nth-child(5) {
  width: 8rem;
  height: 2.5rem;
}

.right > div:nth-child(6) {
  width: 10rem;
  height: 1rem;
}

.color {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.color .head {
  width: 4rem;
  height: 1.25rem;
  border-radius: 0.25rem;
}

.color > div:nth-child(2) {
  display: flex;
  gap: 0.5rem;
}

.color .square {
  width: 2.5rem;
  height: 2.5rem;
}

.color-2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.color-2 .head {
  width: 3rem;
  height: 1.25rem;
  border-radius: 0.25rem;
}

.color-2 > div:nth-child(2) {
  display: flex;
  gap: 0.5rem;
}

.color-2 .square {
  box-sizing: border-box;
  width: 3rem;
  height: 2.5rem;
  border: 1px solid rgb(212, 212, 212);
}

.purchase {
  display: flex;
  gap: 0.75rem;
  margin-top: 1rem;
}

.purchase > div:nth-child(1) {
  flex-grow: 1;
  height: 3rem;
}

.purchase > div:nth-child(2) {
  width: 3rem;
  height: 3rem;
}

.selected,
.square.selected {
  box-sizing: border-box;
  border: 2px solid black;
}
