main {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  gap: 1rem;
  height: 3.5rem;
  padding: 0 1.5rem;
  align-items: center;
}

header > div:nth-child(1) {
  width: 6rem;
  height: 1.5rem;
}

header > div:nth-child(2),
header > div:nth-child(3),
header > div:nth-child(4),
header > div:nth-child(5),
header > div:nth-child(6) {
  width: 4rem;
  height: 1.5rem;
}

header > div:last-child {
  width: 2rem;
  height: 2rem;
  margin-left: auto;
}

.score-board {
  height: 5.75rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(38, 38, 38);
  gap: 7rem;
}

.score-board > .left,
.score-board > .right {
  display: flex;
  gap: 1rem;
}

.score-board > .right {
  flex-direction: row-reverse;
}

.score-board > .left > div:nth-child(2),
.score-board > .right > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.score-board > .right > div:nth-child(2) {
  align-items: end;
}

.score-board > .left .square,
.score-board > .right .square {
  width: 3rem;
  height: 3rem;
  margin-top: 0.25rem;
  background-color: rgb(82, 82, 82);
}

.score-board > .left .up-box,
.score-board > .right .up-box {
  width: 5rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  background-color: rgb(82, 82, 82);
}

.score-board > .left .down-box,
.score-board > .right .down-box {
  width: 8rem;
  height: 2rem;
  border-radius: 0.25rem;
  background-color: rgb(115, 115, 115);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.center > div:nth-child(1) {
  height: 1rem;
  width: 4rem;
  background-color: rgb(82, 82, 82);
}

.center > div:nth-child(2) {
  height: 1.5rem;
  width: 6rem;
  background-color: rgb(239 68 68 / 0.3);
}

.center > div:nth-child(3) {
  height: 1.25rem;
  width: 18rem;
  margin-top: 1rem;
  background-color: rgb(64, 64, 64);
}

.content {
  flex-grow: 1;
  display: flex;
}

.content > .left {
  flex-grow: 1;
  padding: 1rem;
}

.content > .right {
  border-left: 1px solid rgb(229, 229, 229);
  width: 287px;
  padding: 1rem;
}

.up {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  padding-top: 0;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.up > div {
  width: 6rem;
  height: 2rem;
}

.content .down {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}

.content .down > div {
  padding: 1rem 1rem;
  display: flex;
  gap: 1rem;
}

.content .down > div:not(:last-child) {
  border-bottom: 1px solid rgb(245, 245, 245);
}

.content .down > div.grey {
  padding: 0.8rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.content .down > div:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.content .down > div > div:first-child {
  width: 12rem;
  height: 1rem;
  margin-right: auto;
  border-radius: 0.25rem;
}

.content .down > div > div:not(:first-child) {
  width: 3rem;
  height: 1rem;
  border-radius: 0.25rem;
}

.content .down > div:not(:first-child) > div:first-child {
  background-color: rgb(229, 229, 229);
}

.content .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.content .right > div:first-child {
  width: 6rem;
  height: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
}

.card > div:first-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card > div:first-child > div:nth-child(1) {
  width: 3rem;
  height: 1.25rem;
}

.card > div:first-child > div:nth-child(2) {
  width: 1rem;
  height: 1rem;
}

.card > div:nth-child(2) {
  width: 100%;
  height: 1rem;
}
