* {
  box-sizing: border-box;
}

main {
  display: flex;
}

aside {
  width: 16rem;
  border-right: 1px solid rgb(229, 229, 229);
  display: flex;
  padding: 1rem;
  gap: 0.25rem;
  flex-direction: column;
}

aside .head {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  margin-bottom: 1rem;
}

aside .head > div {
  width: 100%;
  height: 1rem;
}

aside > div:not(:first-child) {
  height: 2.5rem;
  display: flex;
  padding: 0 0.75rem;
  align-items: center;
}

aside > div:not(:first-child) > div {
  height: 1rem;
  width: 6rem;
}

aside > div:not(:first-child):not(.dark-grey):hover {
  background-color: rgb(245, 245, 245);
}

section {
  flex-grow: 1;
}

.top {
  height: 3.5rem;
  padding: 0 1.5rem;
  border-bottom: 1px solid rgb(229, 229, 229);
  display: flex;
  align-items: center;
}

.top > div {
  width: 6rem;
  height: 1.5rem;
}

.bottom {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bottom > div {
  max-width: 42rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.bottom > div > div:not(:first-child) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom > div > div:not(:first-child) > .left {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.bottom > .first > .head {
  width: 8rem;
  height: 1.25rem;
}

.bottom > .first > div:nth-child(2) > .left > div:nth-child(1) {
  width: 6rem;
  height: 1rem;
}

.bottom > .first > div:nth-child(2) > .left > div:nth-child(2) {
  width: 12rem;
  height: 0.75rem;
}

.bottom > .first > div:nth-child(2) > div:nth-child(2) {
  width: 16rem;
  height: 2.5rem;
}

.bottom > .first > div:nth-child(3) > .left > div:nth-child(1) {
  width: 5rem;
  height: 1rem;
}

.bottom > .first > div:nth-child(3) > .left > div:nth-child(2) {
  width: 10rem;
  height: 0.75rem;
}

.bottom > .first > div:nth-child(3) > div:nth-child(2) {
  width: 16rem;
  height: 2.5rem;
}

.bottom > .second > .head {
  width: 7rem;
  height: 1.25rem;
}

.bottom > .second > div:nth-child(2) > .left > div:nth-child(1) {
  width: 8rem;
  height: 1rem;
}

.bottom > .second > div:nth-child(2) > .left > div:nth-child(2) {
  width: 14rem;
  height: 0.75rem;
}

.bottom > .second > div:nth-child(2) > div:nth-child(2) {
  width: 3rem;
  height: 1.5rem;
}

.bottom > .second > div:nth-child(3) > .left > div:nth-child(1) {
  width: 7rem;
  height: 1rem;
}

.bottom > .second > div:nth-child(3) > .left > div:nth-child(2) {
  width: 12rem;
  height: 0.75rem;
}

.bottom > .second > div:nth-child(3) > div:nth-child(2) {
  width: 3rem;
  height: 1.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.75rem;
  max-width: 42rem;
  margin-left: 1.5rem;
}

.buttons > div {
  height: 2.5rem;
  width: 6rem;
}
