* {
  box-sizing: border-box;
}

main {
  display: flex;
}

.left {
  width: 18rem;
  border-right: 1px solid rgb(229, 229, 229);
  display: flex;
  flex-direction: column;
}

.right {
  width: 18rem;
  border-left: 1px solid rgb(229, 229, 229);
}

.up {
  height: 3.5rem;
  border-bottom: 1px solid rgb(229, 229, 229);
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.left > .up > div {
  width: 8rem;
  height: 1.5rem;
}

.mid {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.mid > .up {
  justify-content: center;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mid > .up > div {
  width: 2rem;
  height: 2rem;
}

.right > .up > div {
  width: 6rem;
  height: 1.25rem;
}

.left .down {
  flex-grow: 1;
  padding: 1rem;
}

.left .down > div:first-child {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1.75rem;
}

.left .down > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.left-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 0.25rem;
}

.left-card > div:first-child {
  display: flex;
  gap: 0.5rem;
}

.left-card > div > div:nth-child(1),
.left-card > div > div:nth-child(2) {
  width: 1rem;
  height: 1rem;
}

.left-card > div > div:nth-child(3) {
  height: 1rem;
  flex-grow: 1;
}

.left-card > div:last-child {
  height: 0.75rem;
  width: 75%;
}

.selected {
  border: 1px solid black;
}

.right .down {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.right .down > div:nth-child(1),
.right .down > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.right .down > div:nth-child(1) > div:nth-child(1) {
  width: 4rem;
  height: 1rem;
}

.right .down > div:nth-child(1) > div:nth-child(2) {
  width: 100%rem;
  height: 2.5rem;
}

.right .down > div:nth-child(2) > div:nth-child(1) {
  width: 5rem;
  height: 1rem;
}

.right .down > div:nth-child(2) > div:nth-child(2) {
  width: 100%rem;
  height: 2.5rem;
}

.right .down > div:nth-child(3),
.right .down > div:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right .down > div:nth-child(3) > div:nth-child(1) {
  width: 5rem;
  height: 1rem;
}

.right .down > div:nth-child(3) > div:nth-child(2),
.right .down > div:nth-child(4) > div:nth-child(2) {
  width: 2.5rem;
  height: 1.5rem;
}

.right .down > div:nth-child(4) > div:nth-child(1) {
  width: 6rem;
  height: 1rem;
}

.mid .down {
  flex-grow: 1;
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  border-radius: 0.75rem;
  background-color: white;
  padding: 2rem;
  max-width: 36rem;
  width: 100%;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.form > div:first-child {
  height: 1.5rem;
  width: 75%;
  margin-bottom: 1.5rem;
}

.form > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form > div:last-child > div:nth-child(1),
.form > div:last-child > div:nth-child(2) {
  width: 100%;
  height: 3rem;
}

.form > div:last-child > div:last-child {
  display: flex;
  margin-top: 1rem;
  gap: 0.75rem;
}

.form > div:last-child > div:last-child > div {
  flex-grow: 1;
  height: 2.5rem;
}
