main {
  display: flex;
}

section {
  padding: 1rem;
}

section:nth-of-type(1) {
  flex: 0 1 223px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-right: 1px solid #e5e7eb;
}

section:nth-of-type(1) > div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

section:nth-of-type(1) div.black {
  height: 3rem;
}

.sep {
  height: 1px;
  background-color: rgb(229, 229, 229);
  margin: -0.25rem 0;
}

section:nth-of-type(2) {
  padding: 0;
  flex-grow: 1;
}

.up {
  height: 3.5rem;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.up > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.up > div:nth-child(1) > div {
  width: 2rem;
  height: 2rem;
}

.up > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.up > div:nth-child(2) {
  height: 2rem;
  width: 16rem;
}

.down {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.row {
  height: 3rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  border-bottom: 1px solid rgb(245, 245, 245);
  padding: 0 0.5rem;
}

.row div:nth-child(3) {
  flex: 0 1 8rem;
  height: 1rem;
}
.row div:nth-child(4) {
  flex: 1 1 0;
  height: 1rem;
}
.row div:nth-child(5) {
  flex: 0 1 4rem;
  height: 1rem;
}
