main {
  display: flex;
  flex-direction: column;
}

.up {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  padding: 0 1.5rem;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.up div:nth-child(1) {
  flex: 0 0 8rem;
  height: 2rem;
}

.up div:nth-child(2) {
  flex: 0 0 20rem;
}

.up div:nth-child(3) {
  width: 2rem;
  height: 2rem;
}

main > div:nth-child(2) {
  display: flex;
  flex-grow: 1;
}

section:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-right: 1px solid rgb(229, 229, 229);
}

section:nth-of-type(1) .head {
  width: 5rem;
}

section:nth-of-type(1) > div {
  display: flex;
  flex-direction: column;
  width: 239px;
  gap: 0.5rem;
}

section:nth-of-type(1) > div:nth-child(2) .head {
  width: 6rem;
}

section:nth-of-type(1) > div:nth-child(3) > div:not(.head),
section:nth-of-type(1) > div:nth-child(4) > div:not(.head) {
  height: 1.5rem;
}

section:nth-of-type(1) > div:nth-child(4) .head {
  width: 7rem;
}

section:nth-of-type(2) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.up-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.up-2 div:nth-child(1) {
  flex: 0 0 12rem;
}

.up-2 div:nth-child(2) {
  flex: 0 0 8rem;
  height: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
}

.card > div:nth-child(1) {
  height: 12rem;
  border-radius: 0.75rem 0.75rem 0 0;
}

.card > div:nth-child(2) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 0 0 0.75rem 0.75rem;
}

.card > div:nth-child(2) div {
  border-radius: 0.25rem;
}

.first {
  width: 75%;
}
.second {
  width: 50%;
  height: 1rem;
}
.third {
  width: 33%;
  height: 1.5rem;
  margin-top: 0.5rem;
}
