body {
  overflow-y: hidden;
}

nav {
  flex-shrink: 0;
}

body::before {
  flex-shrink: 0;
}

main {
  display: flex;
  flex-direction: column;
}

.up {
  height: 40px;
  padding: 0 1.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid rgb(229, 229, 229);
  gap: 1rem;
}

.up div:nth-child(1) {
  flex: 0 0 8rem;
  margin: 5px 0px;
  height: 2rem;
}

.up div:nth-child(2) {
  height: 2.5rem;
  width: 510.5px;
}

.up div:nth-child(3) {
  flex-grow: 1;
}

.up div:nth-child(3) div {
  width: 2rem;
  height: 2rem;
  margin-left: auto;
}

main > div:nth-child(2) {
  display: flex;
  flex-grow: 1;
}

.left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.left > div:nth-child(1) {
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
  align-items: center;
  height: 3rem;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.left > div:nth-child(1) div {
  width: 6rem;
  height: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 0;
}

li {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

li:hover {
  background-color: rgb(250, 250, 250);
}

li > div:nth-child(1) {
  width: 18rem;
  height: 12rem;
  border-radius: 0.75rem;
}

li > div:nth-child(2) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
}

li > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.first {
  width: 8rem;
  border-radius: 0.25rem;
  height: 1rem;
}

.second {
  width: 75%;
  border-radius: 0.25rem;
  height: 1.5rem;
}

.third {
  width: 50%;
  border-radius: 0.25rem;
  height: 1rem;
}

li > div:nth-child(2) > div:nth-child(2) {
  width: 6rem;
  height: 1.5rem;
}

.map {
  width: 50vw;
  background-color: rgb(229, 229, 229);
  position: relative;
}

.map .nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  top: 1rem;
  left: 1rem;
}

.shadow {
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

div[class^="mark"] {
  position: absolute;
  height: 2rem;
  padding: 0 0.75rem;
  border-radius: 9999px;
}

.mark-1 {
  top: 5rem;
  left: 8rem;
}

.mark-2 {
  top: 10rem;
  right: 12rem;
}

.mark-3 {
  bottom: 8rem;
  left: 12rem;
}

.mark-4 {
  bottom: 5rem;
  right: 8rem;
}
