main {
  display: flex;
}

aside {
  width: 4rem;
  flex-shrink: 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

aside div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
}

header {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  border-bottom: 1px solid rgb(229, 229, 229);
}

header > div:nth-child(1) {
  width: 12rem;
  height: 1.5rem;
}

header > div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header > div:nth-child(2) > div {
  height: 2rem;
}

header > div:nth-child(2) > div:nth-child(1) {
  width: 8rem;
}

header > div:nth-child(2) > div:nth-child(2) {
  width: 2rem;
}

.down {
  flex-grow: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: rgb(250, 250, 250);
  max-height: 100%;
}

.list {
  display: flex;
  gap: 1rem;
}

.list > div {
  flex: 1 1 0%;
  padding: 1rem;
  background-color: white;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 7rem;
}

.list > div > div:nth-child(1) {
  width: 5rem;
  height: 1rem;
}

.list > div > div:nth-child(2) {
  width: 6rem;
  height: 2rem;
}

.list > div > div:nth-child(3) {
  width: 4rem;
  height: 0.75rem;
}

.mid {
  height: 388px;
  display: flex;
  gap: 1rem;
}

.mid > div {
  padding: 1rem;
  background-color: white;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 0.75rem;
}

.desc {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.desc > div:nth-child(1) {
  width: 8rem;
  height: 1.5rem;
  margin-bottom: 1rem;
}

.desc > div:nth-child(2) {
  width: 100%;
  flex-grow: 1;
}

.analytics {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.analytics > div:nth-child(1) {
  width: 6rem;
  height: 1.5rem;
  margin-bottom: 1rem;
}

.analytics > div:nth-child(2) {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart {
  width: 10rem;
  height: 10rem;
  border-radius: 9999px;
  border: 20px solid rgb(229, 229, 229);
  border-top-color: rgb(23, 23, 23);
}

.foot {
  height: 16rem;
}

.foot > div {
  padding: 1rem;
  background-color: white;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 0.75rem;
}

.desc-2 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
}

.desc-2 > div:nth-child(1) {
  width: 10rem;
  height: 1.5rem;
  margin-bottom: 1rem;
}

.desc-2 > div:nth-child(2) {
  width: 100%;
  flex-grow: 1;
}
