main {
  display: flex;
  flex-direction: column;
}

section:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  padding: 0 1.5rem;
  border-bottom: 1px solid rgb(229, 229, 229);
}

section:nth-of-type(1) > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

section:nth-of-type(1) > div:nth-child(1) > div:nth-child(2) {
  width: 12rem;
}

section:nth-of-type(1) > div:nth-child(2) > div {
  width: 5rem;
}

section:nth-of-type(2) {
  display: flex;
  gap: 1.5rem;
  background-color: rgb(245, 245, 245);
  padding: 1.5rem;
}

section:nth-of-type(2) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

section:nth-of-type(2) > div:nth-child(2) > div:nth-child(3) {
  display: flex;
  gap: 1rem;
}

section:nth-of-type(2) > div:nth-child(2) > div:nth-child(1) {
  width: 16rem;
}

section:nth-of-type(2) > div:nth-child(2) > div:nth-child(2) {
  width: 24rem;
}

section:nth-of-type(2) > div:nth-child(2) > div:nth-child(3) div {
  margin-top: 0.5rem;
  width: 7rem;
}

.circle {
  width: 5rem;
  height: 5rem;
  border-radius: 9999px;
}

.border {
  border: 1px solid rgb(212, 212, 212);
}

section:nth-of-type(3) {
  flex-grow: 1;
  display: flex;
}

.left {
  flex: 6 0 100px;
  border-right: 1px solid rgb(229, 229, 229);
  display: flex;
  flex-direction: column;
}

.up,
.down,
.right {
  padding: 1rem 1.5rem;
}

.up {
  border-bottom: 1px solid rgb(229, 229, 229);
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.up > div {
  width: 4rem;
}

.down {
  display: grid;
  height: 220px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(9, 1fr);
  gap: 1rem;
}

.down > div:nth-child(1),
.down > div:nth-child(2) {
  width: 8rem;
}

.down > div {
  display: flex;
  justify-content: space-between;
}

.down > div div:nth-child(1) {
  width: 6rem;
}

.down > div div:nth-child(2) {
  width: 10rem;
}

.sep {
  height: 1px;
  background-color: rgb(245, 245, 245);
}

.right {
  flex: 1 0 100px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-card {
  border-radius: 0.25rem;
  display: flex;
  padding: 0.75rem;
  gap: 1rem;
  background-color: rgb(250, 250, 250);
}

.circle-sm {
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
}

.right-card > div:nth-child(2) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.right-card > div:nth-child(2) > div:nth-child(1) {
  border-radius: 0.25rem;
  width: 100%;
}

.right-card > div:nth-child(2) > div:nth-child(2) {
  border-radius: 0.25rem;
  width: 5rem;
}

.right > div:nth-child(1) {
  width: 6rem;
}
