main {
  display: flex;
  flex-direction: column;
}

section:nth-of-type(1) {
  padding: 0 1.5rem;
  align-items: center;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(229, 229, 229);
}

section:nth-of-type(1) div {
  border-radius: 0.25rem;
}

section:nth-of-type(1) > div:nth-child(1) {
  width: 10rem;
}

section:nth-of-type(1) > div:nth-child(2) {
  display: flex;
  gap: 1rem;
}

section:nth-of-type(1) > div:nth-child(2) > div:nth-child(1) {
  width: 8rem;
}

section:nth-of-type(1) > div:nth-child(2) > div:nth-child(2) {
  width: 6rem;
}

section:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0 1.5rem;
  border-bottom: 1px solid rgb(229, 229, 229);
}

section:nth-of-type(2) > div:nth-child(1) {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

section:nth-of-type(2) > div:nth-child(1) > div {
  width: 7rem;
}

section:nth-of-type(2) > div:nth-child(2) {
  width: 12rem;
}

.dark {
  background-color: rgb(245, 245, 245);
}

.row {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  height: 2.5rem;
  align-items: center;
}

.row > div:nth-child(1) {
  width: 3rem;
}

.row > div:nth-child(2) {
  width: 12rem;
}

.row > div:nth-child(3) {
  width: 10rem;
}

.row > div:nth-child(4) {
  width: 8rem;
}

.row > div:nth-child(5) {
  width: 8rem;
}

.row > div:nth-child(6) {
  width: 6rem;
}

.row.last-big > div:last-child {
  width: 5rem;
}

.row > div:last-child {
  margin-left: auto;
}

.row.hover {
  height: 3.5rem;
}

.row.hover > div:last-child {
  display: flex;
  gap: 0.5rem;
}

.row.hover:hover {
  background-color: rgb(250, 250, 250);
}

footer {
  margin-top: auto;
  border-top: 1px solid rgb(229, 229, 229);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

footer > div:nth-child(1) {
  width: 8rem;
}

footer > div:nth-child(2) {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
