main {
  display: flex;
  flex-direction: column;
}

header {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  border-bottom: 1px solid rgb(229, 229, 229);
}

header > div:nth-child(1) {
  width: 12rem;
}

header > div:nth-child(2) {
  display: flex;
  gap: 1rem;
  align-items: center;
}

header > div:nth-child(2) > div {
  width: 6rem;
}

ul.users {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

ul.users li {
  border-radius: 9999px;
  width: 2rem;
  height: 2rem;
  background-color: rgb(212, 212, 212);
  border: 2px solid white;
}

ul.users li:not(:first-child) {
  margin-left: -0.5rem;
}

header > div > div:last-child {
  height: 2rem;
}

.board {
  flex-grow: 1;
  background-color: rgb(245, 245, 245);
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  max-width: 100%;
  overflow-x: auto;
}

.card {
  width: 18rem;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0.75rem;
}

.card > div:nth-child(1) {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card > div:nth-child(1) > div:nth-child(1) {
  width: 6rem;
}

.card > div:nth-child(1) > div:nth-child(2) {
  width: 1.5rem;
}

.card > div:nth-child(2) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-content {
  padding: 0.75rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.card-content > div:nth-child(1) {
  width: 100%;
  height: 1rem;
}

.card-content > div:nth-child(2) {
  width: 75%;
  height: 1rem;
}

.card-content > div:nth-child(3) {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.card-content > div:nth-child(3) > div:nth-child(1) {
  width: 3rem;
  height: 1.25rem;
}

.card-content > div:nth-child(3) > div:nth-child(2) {
  width: 1.5rem;
  height: 1.5rem;
}

.card > div:nth-child(3) {
  width: 100%;
  height: 2rem;
}
