main {
  display: flex;
}

aside {
  flex: 0 0 255px;
  border-right: 1px solid #e5e7eb;
}

.search {
  height: 3.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
}

.search > div {
  width: 100%;
  height: 2rem;
}

ul.contacts {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

ul.contacts > li {
  list-style-type: none;
  display: flex;
  gap: 0.75rem;
  padding: 0 1rem;
  height: 4rem;
  align-items: center;
}

ul.contacts > li:not(:first-child):hover {
  background-color: rgb(250, 250, 250);
}

ul.contacts > li > div:nth-child(2) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

ul.contacts > li > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.contacts > li > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  width: 6rem;
  height: 1rem;
}

ul.contacts > li > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  width: 2.5rem;
  height: 0.75rem;
  border-radius: 0.25rem;
}

ul.contacts > li > div:nth-child(2) > div:last-child {
  height: 0.75rem;
}

.right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contact {
  display: flex;
  border-bottom: 1px solid #e5e7eb;
  height: 3.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.contact > div:nth-child(1) {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.contact > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.contact > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  width: 8rem;
}

.contact > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
  width: 5rem;
  height: 0.75rem;
}

.contact > div:nth-child(2) {
  display: flex;
  gap: 0.75rem;
}

.contact > div:nth-child(2) > div {
  width: 2rem;
  height: 2rem;
}

.chat {
  flex-grow: 1;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.sent.left {
  display: flex;
  gap: 0.75rem;
}

.sent.left .round {
  width: 2rem;
  height: 2rem;
}

.text {
  border-radius: 1rem;
}

.left .text {
  border-top-left-radius: 0;
}

.m-right .text {
  border-top-right-radius: 0;
}

.text > div:nth-child(1) {
  width: 16rem;
  height: 1rem;
}

.text > div:nth-child(2) {
  width: 67%;
  height: 1rem;
}

.m1 {
  width: fit-content;
  max-width: 28rem;
}

.text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sent .text {
  height: fit-content;
}

.message {
  height: 5rem;
}

.sent.m-right {
  align-self: flex-end;
}

.message {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding: 0 1rem;
}

.message > div:nth-child(2) {
  flex-grow: 1;
  height: 3rem;
}

.chat > div:nth-child(2) > .text {
  width: fit-content;
  max-width: 28rem;
}

.chat > div:nth-child(2) > .text > div:nth-child(1) {
  width: 12rem;
}

.chat > div:nth-child(2) > .text > div:nth-child(2) {
  width: 8rem;
}

.chat > div:nth-child(3) > .text {
  width: fit-content;
}

.chat > div:nth-child(3) > .text > div:nth-child(1) {
  width: 20rem;
}

.chat > div:nth-child(3) > .text > div:nth-child(2) {
  width: 12rem;
}

.chat > div:nth-child(4) > .text {
  width: fit-content;
}

.chat > div:nth-child(4) > .text > div:nth-child(1) {
  width: 14rem;
}
